.footer{
    .navegacion{
        @include tablet {
            display: flex;
            justify-content: center;
            margin-top: .5rem;
        }
    }
    background-color: $grisOscuro;
    padding: .5rem 0 ;
    margin-bottom: 0;
    .contenido-footer{
        padding-top: calc($separacion / 2);
        
    }
    .copyright{
        color: $blanco;
        text-align: center;
    }
}