.derecha{
    display: flex;
    flex-direction:column ;
    align-items: center;
    @include tablet {
        align-items: flex-end;
    }
    .dark-mode-boton{
        cursor: pointer;
        width: 3rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        filter: invert(100%);
        @include tablet {
            margin-top: 0;
        }
    }
}
.barra{
    // position: fixed;
    display: flex;
   align-items: center;
   padding-top: 3rem;
   justify-content: space-between;
   padding: 1.3rem 10%;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    
    
}

.navegacion{
    display: none;
    @include tablet {
        display: flex;
        align-items: center;
    }
    a{
        color: $blanco;
        text-decoration: none;
        font-size:  2.2rem;
        display: block;
        text-align: center;
        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}
.navegacion a:hover{
    color: $verde;
}

//Menu responsive
.mobil-menu{
    @include tablet {
        display: none;
        
    }
    img{
        width: 4rem;
    }
    cursor: pointer;

    
    
}
// Navegacion con blur
@media (max-width: 767px){
    .footer .navegacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: .5rem;
    }
    .mobil-menu{
        display: inline-flex;
    }
    .mostrar{
            display: flex;
            flex-direction: column;
            position: absolute;
            text-align: center;
            top: 11%;
            left: 0;
            width: 100%;
            height: auto;
            background:rgba(0,0,0, .1);
            backdrop-filter: blur(50px);
    }
}
